body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
}

#level-title {
  font-size: 3rem;
}

#high-score {
  font-size: 2rem;
  display: none;
}

.black-bg {
  margin: 5% auto 2%;
  padding: 2%;
  background-color: black;
  border-radius: 15px;
  display: inline-block;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.icon {
  color: grey;
  margin-bottom: 1%;
}

.icon-active {
  color: #FEF2BF;
}

.hint {
  color: #FEF2BF;
  font-size: 1.4rem;
  margin-bottom: 4%;
  display: none;
}